[global_config]
  enabled_plugins = LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  focus = system
[keybindings]
  full_screen = <Ctrl><Shift>F11
[layouts]
  [[default]]
    [[[child0]]]
      order = 0
      parent = ""
      position = 0:25
      size = 1366, 708
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 632
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 354
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 354
      type = VPaned
    [[[terminal3]]]
      command = top; bash
      order = 0
      parent = child2
      profile = default
      type = Terminal
    [[[terminal4]]]
      command = su; bash
      order = 1
      parent = child2
      profile = default
      type = Terminal
    [[[terminal6]]]
      command = cd ~/work; zsh
      order = 0
      parent = child5
      profile = default
      type = Terminal
    [[[terminal7]]]
      command = cd ~/work; zsh
      order = 1
      parent = child5
      profile = default
      type = Terminal
  [[godot]]
    [[[child0]]]
      order = 0
      parent = ""
      position = 0:25
      size = 1366, 708
      type = Window
    [[[child1]]]
      order = 0
      parent = child0
      position = 632
      type = HPaned
    [[[child2]]]
      order = 0
      parent = child1
      position = 354
      type = VPaned
    [[[child5]]]
      order = 1
      parent = child1
      position = 354
      type = VPaned
    [[[terminal3]]]
      command = top; bash
      order = 0
      parent = child2
      profile = default
      type = Terminal
    [[[terminal4]]]
      command = su; bash
      order = 1
      parent = child2
      profile = default
      type = Terminal
    [[[terminal6]]]
      command = cd ~/work; zsh
      order = 0
      parent = child5
      profile = default
      type = Terminal
    [[[terminal7]]]
      command = cd ~/work; zsh
      order = 1
      parent = child5
      profile = default
      type = Terminal
[[plugins]
[profiles]
  [[default]]
    background_image = None
    color_scheme = orange_on_black
    cursor_color = "#aaaaaa"
    font = Monospace 8
    foreground_color = "#008395"
    palette = "#073642:#dc322f:#859900:#b58900:#268bd2:#d33682:#2aa198:#eee8d5:#002b36:#cb4b16:#586e75:#657b83:#839496:#6c71c4:#93a1a1:#fdf6e3"
    scrollback_lines = 3000
    use_system_font = False
  
